body {
    background-color: #232323;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

header {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    padding: 2rem;
    color: #333333;
}

.headline {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;

}

.subheadline {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    color: whitesmoke;
}

#rgbCode {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
}

#reset {
    position: absolute;
    right: 0;
    top: 2rem;
    border: none;
    background: #232323;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: sans-serif;
    height: fit-content;
    width: 7rem;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
    cursor: pointer;
    border-radius: 1rem 0 0 1rem;
    border-left: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;
}

#reset:hover {
    color: steelblue;
    background: whitesmoke;
    border-left: 3px solid #232323;
    border-bottom: 3px solid #232323;
    border-top: 3px solid #232323;
}

.section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

#stripe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #232323;
    height: 6rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    border-radius: 0 0 0 1rem;
    border-left: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.difficulty-settings {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background-color: whitesmoke;
    color: steelblue;
    border-left: 3px solid #232323;
    border-top: 3px solid #232323;
    border-radius: 1rem 0 0 0;
}

.difficulty {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

.difficulty:hover {
    color: steelblue;
    background: #232323;
}

.difficulty:first-child:hover {
    border-radius: 0.9rem 0 0 0;
}

.container {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.items {
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

.square-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    height: 100%;
    width: 100%;
}

.selected {
    background: #232323;
    color: whitesmoke;
}

.check-information {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.success-information {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.error-information {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}